.main,
.sidebar-left,
.sidebar-right {
    padding: 20px;
    color: #333;
}

.main h2,
.sidebar-left h2,
.sidebar-right h2{
    color: rgb(28, 28, 138);
}

.parent {
    max-width: 1400px;
    margin: 70px auto 0 auto;
    font-size: 18px;
    display: flex;
}

.main {
    flex: 2;
    order: 2;
}

.sidebar-left {
    flex: 1;
    order: 1;
}

.sidebar-right {
    flex: 1;
    order: 3;
}