<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
        <h1>Lorem ipsum</h1>
        <p class="normal">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, rem nulla inventore ratione esse excepturi voluptatem error, quia reprehenderit impedit, tenetur aut? Eum aspernatur voluptatibus quae, iure aliquam accusamus totam.</p>
    </div>
    <div >
        <h1>Lorem ipsum</h1>
        <p class="relative">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, rem nulla inventore ratione esse excepturi voluptatem error, quia reprehenderit impedit, tenetur aut? Eum aspernatur voluptatibus quae, iure aliquam accusamus totam.</p>
    </div>
    <div >
        <h1 class="absolute">Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, rem nulla inventore ratione esse excepturi voluptatem error, quia reprehenderit impedit, tenetur aut? Eum aspernatur voluptatibus quae, iure aliquam accusamus totam.</p>
    </div>
    <div>
        <h1>Lorem ipsum</h1>
        <p class="fixed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, laboriosam? Harum voluptatibus quia iste et minus. Fugit cupiditate quod, delectus aperiam repellendus, est rem necessitatibus incidunt fugiat id at deserunt.</p>
    </div>
    <div>
        <h1 class="sticky">Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quam cum nesciunt rem voluptatum fuga accusamus soluta vitae harum, sunt facilis, asperiores ratione, ipsum repellendus nobis illum cupiditate corporis veniam!</p>
    </div>
    <div>
        <img src="../../HTML/images/18133.png" alt="">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique corporis quos, deserunt laboriosam quis ab, vero illo repellendus voluptate non, incidunt officia? Tenetur consectetur, recusandae repellendus adipisci fuga dolore nemo?</p>
    </div>

    <div style="margin-top: 200px; width:400px">
        <p class="left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, aperiam? Aliquid voluptatum voluptas reprehenderit placeat qui. Accusantium cumque commodi itaque dolores placeat libero alias ullam, quis rerum quibusdam illo saepe!</p>
        <p class="right">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos provident nulla excepturi rerum quam vitae aut dolor dolore asperiores temporibus nesciunt harum sed quisquam labore, animi officiis odit? Libero, delectus.</p>
    </div>

</body>
</html>